@main: #E0A210;
@shoeblack: #000;

@font-face {
  font-family: 'ActionJackson';
  src: url('actionj.eot');
  src: local('☺'), url('/fonts/actionj.woff') format('woff'), url('/fonts/actionj.ttf') format('truetype'), url('/fonts/actionj.svg#webfontP2ZqoysX') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FeaturedItem';
  src: url('/fonts/featurei-webfont.eot');
  src: local('☺'), url('/fonts/featurei-webfont.woff') format('woff'), url('/fonts/featurei-webfont.ttf') format('truetype'), url('/fonts/featurei-webfont.svg#webfontCryRrr75') format('svg');
  font-weight: normal;
  font-style: normal;
}

// horizontal centering for objects of unknown widths
.outer{
  float: left;
  position: relative;
  left: 50%;
}

.inner{
  position: relative;
  left: -50%;
}

.floatClear{
  float: left;
  clear: both;
}

.break{
  .floatClear;
  width: 100%;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

h1{
  .floatClear;
  display: inline;
  font-size: 40px;
  font-family: 'FeaturedItem', helvetica, arial, sans-serif;
  color: @main;
  text-shadow: 0 -1px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.3);
}

a{color: @shoeblack;}
a:hover, a:active{color: @main - 60%;}

@width: 960px;

// centered div
.centered{
  width: @width;
  margin: 0 auto;
}

@padding: 30px;

#bg{
  width: @width - @padding * 2;
  padding: 0px @padding 20px;
  margin: 20px 0 0 0;
  background: rgba(255,255,255,0.7);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* Opera 10.5, IE9 */
  float: left;
}

#logo{margin: 30px 0 0 0;}

/* ========= */
/* = Flash = */
/* ========= */

// on most pages, fix it to the top
#bodyFlash{
  display: none;
  position: fixed;
  -moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 0;
  text-align: center;
  letter-spacing: 0.07em;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(44,44,44,0.3), 0px 1px 0px rgba(255,255,255,0.4);
  z-index: 999;
}

.flashNotice{
  @start: #0EA90E;
  @end: @start - 20%;

  background: @start; // Non CSS3 browsers
  background: -moz-linear-gradient(top,  @start, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end)); // Safari 4+, Chrome

  border: 2px solid @start - 30%;
  border-width: 0 0 2px 0;
}

.flashError{
  @start: #ff0000;
  @end: @start - 20%;

  background: @start; // Non CSS3 browsers
  background: -moz-linear-gradient(top,  @start, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end)); // Safari 4+, Chrome

  border: 2px solid @start - 30%;
  border-width: 0 0 2px 0;
}


// big ol' button style

// master button color - change this to change all the colors
@buttonColor: @main;

// slave colors
@defaultStart: @buttonColor + 35%;
@defaultEnd: @buttonColor;
@borderColor: @buttonColor - 50%;

@color: #000;

.button{
  .floatClear;
  margin: 10px 0 0 0;
  padding: 4px 15px 3px;

  font-family: 'FeaturedItem', helvetica, arial, sans-serif;
  color: @color;
  text-decoration: none;
  letter-spacing: .09em;
  text-transform: uppercase;
  font-size: 33px;
  text-shadow: rgba(0,0,0,0.2) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.2) 0 1px;

  border: 1px solid @borderColor;

  -moz-border-radius: 6px; // FF1+
  -webkit-border-radius: 6px; // Saf3-4
  border-radius: 6px; // Opera 10.5, IE 9, Saf5, Chrome

  -moz-box-shadow: 0px 0px 2px @borderColor; // FF3.5+
  -webkit-box-shadow: 0px 0px 2px @borderColor; // Saf3.0+, Chrome
  box-shadow: 0px 0px 2px @borderColor; // Opera 10.5, IE 9

  background: ((@defaultStart + @defaultEnd) / 2); // Non CSS3 browsers
  background: -moz-linear-gradient(top,  @defaultStart, @defaultStart 46%, @defaultEnd 54%, @defaultEnd); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@defaultStart), color-stop(0.46, @defaultStart), color-stop(0.54, @defaultEnd), to(@defaultEnd)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @defaultStart, @defaultEnd); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @defaultStart, @defaultEnd); // IE8
}

.button:hover{
  color: @color;

  @start: @defaultStart - 20%;
  @end: @defaultEnd - 20%;

  background: ((@start + @end) / 2); // Non CSS3 browsers
  background: -moz-linear-gradient(top, @start, @start 46%, @end 54%, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), color-stop(0.46, @start), color-stop(0.54, @end), to(@end)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE8
}

.button:active{
  color: @color;

  @start: @defaultStart - 40%;
  @end: @defaultEnd - 40%;

  background: ((@start + @end) / 2); // Non CSS3 browsers
  background: -moz-linear-gradient(top, @start, @start 46%, @end 54%, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), color-stop(0.46, @start), color-stop(0.54, @end), to(@end)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE8
}

// wraps all items on index
#somethings{
  .floatClear;
  margin: 30px 0 0 -30px;
}

@itemSize: 275px;

// wraps an item
.somethingWrapper{
  float: left;
  margin: 0 0 30px 30px;
  border: 2px solid rgba(0,0,0,0.3);
  width: @itemSize;
  background: rgba(255,255,255,0.3);
}

h2{
  font-family: 'FeaturedItem', helvetica, arial, sans-serif;
  font-size: 30px;
  display: inline;
  letter-spacing: 0.08em;
  .floatClear;
  width: 100%;
  text-align: center;
}

@thumbMargin: 10px;

.thumb{
  .floatClear;
  width: @itemSize - @thumbMargin * 2;
  height: 230px;
  margin: 0 0 @thumbMargin @thumbMargin;
  background: none;
  position: relative;
  overflow: hidden;
}

.controls{
  .break;
  margin: 0 0 10px 0;
  text-align: center;
  
  span{
    float: left;
    margin: 0 5px 0 0;
  }
}

/* ============= */
/* = show page = */
/* ============= */

#show{
  h1{
    margin: 40px 0 0 0;
    width: 100%;
    text-align: center;
  }

  .controls{margin: 0 0 10px 0;}
}



form{
  .floatClear;
  text-shadow: 0 1px rgba(255,255,255,0.3);

  #something_something{font-size: 18px;}

  .text{
    font-size: 25px;
    padding: 3px;
  }

  .example{
    font-size: 16px;
    color: #666;
    font-style: oblique;
    position: relative;
    top: 3px;
  }
  
  .actions{.floatClear;}
  
  // submit
  .button{margin: 20px 0 0 0;}
  
  .cancel{
    position: relative;
    top: 35px;
    left: 15px;
  }
  
  .error{
    color: #f00;
    display: none;
  }
}

#shoelaceForm{
  .floatClear;
  
  // hide the radiobuttons
  input{display: none;}
  
  // position the labels
  label{
    position: relative;
    top: 4px;
    float: left;
    margin: 0 9px 0 0;
  }
  
}

#shoelaceError{
  .floatClear;
  position: relative;
  bottom: 8px;
}

// shoelace thumbs in form
.shoelaceThumb{border: 3px solid #666;}
.shoelaceThumb.selected{border: 3px solid @main;}